:root{
    --back-color:   rgb(251, 208, 124);
    --title-color:  rgb(248, 255, 046);
    --margin-color: rgb(198, 072, 050);
    --shadow-color: rgb(095, 161, 153);
    --header-color: rgb(33, 25, 21);
}
*{
    padding: 0.5%;
    box-sizing: border-box;
}
@font-face {
    font-family: titlefont;
    src: url("../fonts/Sw921Rg.ttf");
}
body{
    background-image: linear-gradient(45deg, rgba(251, 208, 124, 0.95),rgba(251, 208, 124, 0.95)),url(../images/backlogo.png);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    background-color: var(--back-color);
    margin: 2vh;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--header-color);
    width: 100%;
    height: 26vh; 
}
.logo{
    height: 38vh;
    padding-top: 1%;
    margin: 1%;
}
h1{
    display: flex;
    color: var(--title-color);
    font-size: 12vh;
    font-family: titlefont;
    text-shadow: var(--margin-color) 3px 0px 0px, var(--margin-color) 2.83487px 0.981584px 0px, var(--margin-color) 2.35766px 1.85511px 0px, var(--margin-color) 1.62091px 2.52441px 0px, var(--margin-color) 0.705713px 2.91581px 0px, var(--margin-color) -0.287171px 2.98622px 0px, var(--margin-color) -1.24844px 2.72789px 0px, var(--margin-color) -2.07227px 2.16926px 0px, var(--margin-color) -2.66798px 1.37182px 0px, var(--margin-color) -2.96998px 0.42336px 0px, var(--margin-color) -2.94502px -0.571704px 0px, rgb(198, 72, 50) -2.59586px -1.50383px 0px, rgb(198, 72, 50) -1.96093px -2.27041px 0px, rgb(198, 72, 50) -1.11013px -2.78704px 0px, rgb(198, 72, 50) -0.137119px -2.99686px 0px, rgb(198, 72, 50) 0.850987px -2.87677px 0px, rgb(198, 72, 50) 1.74541px -2.43999px 0px, rgb(198, 72, 50) 2.44769px -1.73459px 0px, rgb(198, 72, 50) 2.88051px -0.838247px 0px, -8px 0px 0px rgba(95, 161, 153, 1);
}
nav{
    width: 100%;
    padding-right: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}
nav>a{
    font-size: 3vh;
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    color: var(--back-color);
    background-color: var(--header-color);
    border: .5vh solid var(--back-color);
    position: relative;
    bottom: 4vh;
}
.index:hover{
    background-color: rgb(33, 25, 21);
    color: rgba(95, 161, 153, 1);
    padding: 5px;
    border: .5vh solid rgba(95, 161, 153, 1);
}
#active{
    text-decoration: underline;
}
p{
    padding: .1vh 0px;
    font-size: 3vh;
    max-width: 60%;
}
h3{
    font-size: 4vh;
    color: var(--margin-color);
}
#mainIndex{
    width: 100%;
    min-height: 50vh;
    padding-left: 10%;
    padding-top: 2%;
    padding-bottom: 10%;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(45deg, rgba(251, 208, 124, 0.5),rgba(251, 208, 124, 0.493)),url(../images/IndexBackgraund.png);
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-size: 120vh;
}
#mainContact{
    width: 100%;
    min-height: 50vh;
    padding-left: 10%;
    padding-top: 2%;
    padding-bottom: 10%;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(45deg, rgba(251, 209, 124, 0.096),rgba(251, 209, 124, 0.479)),url(../images/ContactBackgraund.png);
    background-repeat: no-repeat;
    background-position: 90% 0%;
    background-size: 160vh;
}
#mainAbout{
    width: 100%;
    min-height: 50vh;
    padding-left: 10%;
    padding-top: 2%;
    padding-bottom: 10%;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(45deg, rgba(251, 209, 124, 0.562),rgba(251, 209, 124, 0.425)),url(../images/AboutBackgraund.png);
    background-repeat: no-repeat;
    background-position: 90% 0%;
    background-size: 170vh;
}
main{
    width: 100%;
    min-height: 50vh;
    padding-left: 10%;
    padding-top: 2%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
}
.mail{
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(198, 72, 50);
    width: 150px;
}
.mail:hover{
    background-color: rgb(33, 25, 21);
    color: var(--back-color);
    padding: 5px;
    border: .5vh solid var(--back-color);
}
footer{
    width: 100%;
    height: 30vh;
    margin-top: 10vh;
    background-color: var(--header-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.networks{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.footerimg{
    height: 6vh;
    padding: 0vh 1vh;
}
.footerimg:hover{
    height: 6vh;
    filter: opacity(0.5) drop-shadow(0 0 0 var(--shadow-color));
}
footer>p{
    font-size: 2vh;
    color: var(--back-color);
}
.rules{
    font-size: 3vh;
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    color: var(--shadow-color);
    background-color: var(--header-color);
    border: .5vh solid var(--shadow-color);
}
.rules:hover{
    background-color: rgb(33, 25, 21);
    color: var(--back-color);
    padding: 5px;
    border: .5vh solid var(--back-color);
}
table{
    text-align: left;
}
thead{
    font-size: 3vh;
}
tbody{
    text-align: left;
}